<header id="topnav">
  <div class="inner">

    <nav role='navigation'>
      <ul>
        <li><a href="#section_about">Who am I</a></li>
        <li><a href="#photos">Photos</a></li>
        <li><a href="#poly-container">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<section>

  </div>
</section>



<!-- <div class="nav-wrapper">
<nav class="navbar navbar-default" role="navigation" > -->
     <!-- Brand and toggle get grouped for better mobile display -->
     <!-- <div class="nav navbar-left">
       <ul class="nav navbar-nav">

     </ul>
     </div> -->
     <!-- <div class="nav navbar-right">
       <ul class="nav navbar-nav">
         <li><a href="#"></a></li>
     </ul>
     </div> -->
     <!-- <div class="navbar-center">
       <ul class="nav navbar-nav">
         <li><a href="#section_about">Who am I</a></li>
         <li><a href="#photos">Photos</a></li>
         <li><a href="#projects">Projects</a></li>
         <li><a href="#contact">Contact</a></li>

     </div>
   </nav>
 </div> -->

<div class="container">


  <div class="section_home">

    <div id="logo">
    </div>

  </div>

</div>
<!-- avlutar container -->

  <div id="section_about" class="section_nav">
    <hr/>
    <h1>Welcome to my portfolio</h1>

    <!-- <div id="triangle">
    </div> -->

  </div>
<div class="container">
  <div class="section_about">

    <h1> Who am I </h1>

    <p>My name is Charlotte and currently studying to become a full stack front end developer.

In 2014 I made my way from Sweden to the other side of the world to study graphic design.
Even since then I’ve been in love with design (and Sydney) and my goals are now to combine my passions for design with front end development

On days I don’t study (from what I can remember, its been a long time since I’ve had a day off) I spend with my friends or walking along the beautiful coast line taking photos.
</p>
      <hr/>

  </div>
</div>
<div id="photos">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="<%= asset_path 'bird.jpg'%>">
            <div class="carousel-caption">

            </div>
          </div>

          <div class="item">
            <img src="<%= asset_path 'nepal_clouds.jpg'%>" >
            <div class="carousel-caption">

            </div>
          </div>

          <div class="item">
            <img src="<%= asset_path 'swell.jpg'%>"  >
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="<%= asset_path 'surfers.jpg'%>"  >
            <div class="carousel-caption">

            </div>
          </div>

          <div class="item">
            <img src="<%= asset_path 'bridge.jpg'%>" >
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="<%= asset_path 'waves_rocks'%>" >
            <div class="carousel-caption">

            </div>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
      <div class="container">
      <hr/>
    </div>

    <!-- <div id="projects" class="snippits"></div>
      <div class="container">
    <hr/>
  </div> -->

<!-- ######## -->
<div id="poly-container" class="container">
<article></article>
<section>

  <a href="#"><div class="projects"></div></a>
  <a href="https://github.com/charhagelin/progressbar_weather" target="_blank"><div class="projects"></div></a>
    <a href="#"><div class="projects"></div></a>
    <a href="#"><div class="projects"></div></a>
    <a href="#"><div class="projects"></div></a>
    <a href="https://www.behance.net/gallery/43775089/re-brading-company" target="_blank"><div class="projects"></div></a>
    <a href="https://www.behance.net/gallery/43775089/re-brading-company" target="_blank"><div class="projects"></div></a>
    <a href="#"><div class="projects"></div></a>
    <a href="https://github.com/charhagelin/ATM" target="_blank"><div class="projects"></div></a>
    <a href="https://www.behance.net/gallery/43775089/re-brading-company" target="_blank"><div class="projects"></div></a>
    <a href="#"><div class="projects"></div></a>
    <a href="https://github.com/charhagelin/ATM" target="_blank"><div class="projects"></div></a>






<!-- <div class="projects"><a href="#"></a></div>
  <div class="projects"><a href="https://github.com/charhagelin/progressbar_weather"><div class="projects:nth-child"></div></a></div>
  <div class="projects"><a href="#"></a></div>
  <div class="projects"><a href="#"></a></div>
  <div class="projects"><a href="https://github.com/charhagelin/progressbar_weather"></a></div>
 -->
  <!-- <div class="projects"><a href="#"></a></div>
  <div class="projectsT"><a href="#"></a></div>
  <div class="projects"><a href="#"></a></div>
  <div class="projects"><a href="#"></a></div>
  <div class="projects"><a href="#"></a></div>
  <div class="projects"><a href="#"></a></div>
  <div class="projects"><a href="#"></a></div> -->


<!-- <div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="someT"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div>
<div id="some"><a href="#"><div class="projects"></div></a></div> -->
</section>
<svg height="0">
  <clipPath id="c1">
      <polygon points="62.5,0 125,32.75 125,93.75 62.5,125 0,93.75 0,32.75" fill="#fa5"></polygon>
  </clipPath>
</svg>
</div>

  <!-- ######### -->

    <div class="section_projects">
  </div>

      <div id="text">
    <p>follow the links for a better look at <br> my projects and work experience </p>
    </div>

    <div class="skills">
    </div>

<div class="container">

      <div class="row">
        <div class="col-md-4">
          <div id="github">
          <span class="fa-stack fa-5x"><a href="https://github.com/charhagelin" target="_blank">
            <i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #DDB6B6;"></i>
            <i class="fa fa-github fa-stack-1x" style="color: black;"></i></a>
          </span>

        </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-4">
          <div id="behance">
          <span class="fa-stack fa-5x"><a href="https://www.behance.net/hagelin_897b39" target="_blank">
            <i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #DDB6B6;"></i>
            <i class="fa fa-behance fa-stack-1x" style="color:black;"></i></a>
          </span>


        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div id="linkedin">
          <span class="fa-stack fa-5x"><a href="https://www.linkedin.com/in/charlotte-hagelin-11314a40/" target="_blank">
            <i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #DDB6B6;"></i>
            <i class="fa fa-linkedin fa-stack-1x" style="color: black;"></i></a>
          </span>
        </div>
        </div>
      </div>



  <div id="contact" class="contact">
    <hr/>

    <h1> Contact me : </h1>
    <p>0401 658 019</p>
    <a href="mailto:charhagelin@gmail.com">charhagelin@gmail.com</a>

    <hr/>
  </div>
  </div>
</div>
</div>
